:root {
    --primary-color: #024e76;
    --secondary-color: #ffffff;
    --tertiary-color: rgb(12, 12, 12);
    --quad-color: crimson;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
    background-color: slategrey;
}

header {
    padding: 10px 0;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    color: var(--secondary-color);
    text-shadow: 0 0 10px whitesmoke;
    margin: 0;
    font-size: 35px;
    padding: 10px 10px;
}

header nav a {
    padding: 10px 10px 10px 0;
    margin: 5px 0 0 0;
}

header nav a:hover {
    background: var(--primary-color);
    color: var(--quad-color);
    border-radius: 15px;
    text-shadow: 0 0 10px;
}

section {
    padding: 80px;
}

article h2 {
    font-size: 20px;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
    text-align: right;
}

footer div address a:hover {
    background: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: 0 0 10px;
}

.Home {
    display: block;
    width: 100px;
    font-size: 20px;
    margin-bottom: 1rem;
}

.section-title {
    font-size: 48px;
    color: var(--tertiary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.other-projects {;
    color: var(--tertiary-color);
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other-projects img {
    width: 60%;
    text-align: center;
    margin: 0 10px;
    border-radius: 20px;
}

.other-projects-section {
    margin: 0;
    flex: 1;
    width: 40%;
}

.run-buddy-embed iframe {
   width: 650px;
   height: 400px;
}

.run-buddy:hover {
    background: var(--primary-color);
    color: var(--quad-color);
    border-radius: 15px;
    text-shadow: 0 0 10px;
}

.ben-franklin img {
    width: 500px;
    height: 400px;
}

.youtube-embed iframe {
    width: 660px; 
    height: 415px;
}

.portfolio {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-section {
    margin: 0;
    flex: 1;
}

.portfolio h3 {
    text-align: center;
}

.flex-row {
    display: flex;
}

.about-me {
    border: 6px solid var(--tertiary-color);
    background-color: rgba(255, 225, 56, 0.8);
    padding: 10px;
    color: var(--tertiary-color);
    width: 40%;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.about-me img {
    margin: 1px 20px;
    width: 50%;
}

.about-me-section {
    margin: 0;
    flex: 1;

}

.about-me h3 {
    font-size: 18px;
    margin: 10px 20px;
    text-align: center;
    padding-top: 0px;
}

@media screen and (max-width: 980px) {
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.portfolio-section iframe {
    width: 100%;
    height: 100%;
}

.portfolio-section img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}